openapi: 3.0.3
info:
  title: V2
  version: 1.0.0
  contact: {}
servers:
  - url: 'https://api.gocobalt.io'
paths:
  /api/v2/public/linked-account:
    put:
      tags:
        - Customer
      summary: Upsert a Linked Account
      description: >-
        This api Updates a linked accounts's details by , Or creates a linked
        account if no account present if no account found for the provided .


        User needs to provide only required fields to be updated as payload
        (examples provided).
      operationId: upsertALinkedAccount
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
            example: '{{API_KEY}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                linked_account_id:
                  type: string
                  example: '12345678'
                name:
                  type: string
                  example: Subrat Public
                udf:
                  type: object
                  properties:
                    some_key1:
                      type: string
                      example: Updated Value
                    some_key2:
                      type: string
                      example: some data 2
                    some_key3:
                      type: string
                      example: some data 3
                your_app:
                  type: object
                  properties:
                    app_id:
                      type: string
                      example: 646370324e3b114f9c720719
                    auth_credentials:
                      type: object
                      properties:
                        x-key:
                          type: string
                          example: '123334445556662'
            example:
              linked_account_id: '12345678'
              name: Subrat Public
              udf:
                some_key1: Updated Value
                some_key2: some data 2
                some_key3: some data 3
              your_app:
                app_id: 646370324e3b114f9c720719
                auth_credentials:
                  x-key: '123334445556662'
      responses:
        '200':
          description: Upsert a customer
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '16'
            Date:
              schema:
                type: string
                example: Mon, 05 Jun 2023 07:21:17 GMT
            ETag:
              schema:
                type: string
                example: W/"10-oV4hJxRVSENxc/wX8+mA4/Pe4tA"
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
              examples:
                Upsert a customer:
                  value:
                    success: true
    post:
      tags:
        - Customer
      summary: Create Linked Account
      description: Create Linked Account
      operationId: createLinkedAccount
      parameters:
        - name: X-API-Key
          in: header
          schema:
            type: string
            example: '{{API_KEY}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                linked_account_id:
                  type: string
                  example: '12345678933'
                name:
                  type: string
                  example: Charizard0
                your_app:
                  type: object
                  properties:
                    app_id:
                      type: string
                      example: 63be51429dbfdab71d2bc6f4
                    auth_credentials:
                      type: object
                      properties:
                        authorization:
                          type: string
                          example: Bearer 0b79bab50daca910b000d4f1a2b675d604257e42
            example:
              linked_account_id: '12345678933'
              name: Charizard0
              your_app:
                app_id: 63be51429dbfdab71d2bc6f4
                auth_credentials:
                  authorization: Bearer 0b79bab50daca910b000d4f1a2b675d604257e42
      responses:
        '200':
          description: Success
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '240'
            Date:
              schema:
                type: string
                example: Thu, 03 Aug 2023 10:06:59 GMT
            ETag:
              schema:
                type: string
                example: W/"f0-zFoX8cvHwMZ0yhmMtBqBYiVHWjk"
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  __v:
                    type: number
                    example: 1
                  _id:
                    type: string
                    example: 64cb7c433c6dddda0fb6bde8
                  account_id:
                    type: string
                    example: '1234567893'
                  associated_org:
                    type: string
                    example: 63dba3b4d9c4be8f0f3f5e8f
                  createdAt:
                    type: string
                    example: '2023-08-03T10:06:59.703Z'
                  environment:
                    type: string
                    example: test
                  name:
                    type: string
                    example: Charizard8
                  udf:
                    type: array
                    items: {}
                    example: []
                  updatedAt:
                    type: string
                    example: '2023-08-03T10:06:59.833Z'
              examples:
                Success:
                  value:
                    __v: 1
                    _id: 64cb7c433c6dddda0fb6bde8
                    account_id: '1234567893'
                    associated_org: 63dba3b4d9c4be8f0f3f5e8f
                    createdAt: '2023-08-03T10:06:59.703Z'
                    environment: test
                    name: Charizard8
                    udf: []
                    updatedAt: '2023-08-03T10:06:59.833Z'
        '400':
          description: Error
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '181'
            Date:
              schema:
                type: string
                example: Tue, 11 Jul 2023 04:52:19 GMT
            ETag:
              schema:
                type: string
                example: W/"b5-GrW9fR4eDnK6RWV/7zUmAVj6fLc"
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: BAD_REQUEST
                  message:
                    type: string
                    example: >-
                      Linked account with id T1234567 already exists in the test
                      environment
                  request_id:
                    type: string
                    example: 89bd1675-a826-46cb-9210-6cb2ae169f67
                  status_code:
                    type: number
                    example: 400
              examples:
                Error:
                  value:
                    error_type: BAD_REQUEST
                    message: >-
                      Linked account with id T1234567 already exists in the test
                      environment
                    request_id: 89bd1675-a826-46cb-9210-6cb2ae169f67
                    status_code: 400
  /api/v2/public/migrate-token:
    put:
      tags:
        - Customer
      summary: Migrate Token for a Linked Account
      description: >-
        This API is used to Migrate Auth Object (API keys, Access Tokens, etc;)
        of an application to an integration in Cobalt.


        #### **Body Parameters:**


        - **slug**: String (Mandatory) - Application Slug

        - **auth_object**: Record (Mandatory) - Object containing Tokens or Keys
        of application that needs to be migrated to Cobalt's existing
        integration of the same application. For example, **auth_object** for
        Gmail must consist either of **access_token**, **refresh_token** or
        **both**.
      operationId: migrateTokenForALinkedAccount
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
            example: '{{API_KEY}}'
        - name: linked_account_id
          in: header
          schema:
            type: string
            example: '{{LINKED_ACCOUNT_ID}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth_object:
                  type: object
                  properties:
                    bot_token:
                      type: string
                      example: >-
                        xoxb-4176895223169-4625208815779-4qjn8hb0utRStACtO2F2qMqu
                    user_token:
                      type: string
                      example: >-
                        xoxp-4176895223169-5140864887586-5152622437381-b5c20d9f42b0993271c56832ac316e41
                slug:
                  type: string
                  example: slack
            example:
              auth_object:
                bot_token: xoxb-4176895223169-4625208815779-4qjn8hb0utRStACtO2F2qMqu
                user_token: >-
                  xoxp-4176895223169-5140864887586-5152622437381-b5c20d9f42b0993271c56832ac316e41
              slug: slack
      responses:
        '200':
          description: Success - Created
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '56'
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 09:12:41 GMT
            ETag:
              schema:
                type: string
                example: W/"38-xGI98AWH+7YJ061gGgjuLsLInFM"
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Integration - slack created
                  success:
                    type: boolean
                    example: true
              examples:
                Success - Created:
                  value:
                    message: Integration - slack created
                    success: true
        '400':
          description: Error -Invalid Auth Object Value
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '151'
            Date:
              schema:
                type: string
                example: Wed, 14 Jun 2023 22:37:30 GMT
            ETag:
              schema:
                type: string
                example: W/"97-+o7iu9yNPbiTl7Xu6idFMxFZX9c"
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: BAD_REQUEST
                  message:
                    type: string
                    example: auth_object values must be valid strings
                  request_id:
                    type: string
                    example: 4f8362ce-b36a-4c14-9b85-7fe8b57dda87
                  status_code:
                    type: number
                    example: 400
              examples:
                Error -Invalid Auth Object Value:
                  value:
                    error_type: BAD_REQUEST
                    message: auth_object values must be valid strings
                    request_id: 4f8362ce-b36a-4c14-9b85-7fe8b57dda87
                    status_code: 400
  /api/v2/public/application:
    get:
      tags:
        - Integration Meta
      summary: List applications
      description: >-
        This API Returns List of Applications for any Linked account. It takes
        "limit", "page" as optional query parameters as filters.
      operationId: listApplications
      parameters:
        - name: linked_account_id
          in: header
          schema:
            type: string
            example: '{{LINKED_ACCOUNT_ID}}'
        - name: x-api-key
          in: header
          schema:
            type: string
            example: '{{API_KEY}}'
      responses:
        '200':
          description: Success
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '5392'
            Date:
              schema:
                type: string
                example: Wed, 14 Jun 2023 11:16:55 GMT
            ETag:
              schema:
                type: string
                example: W/"1510-qMKfg3d0tw7jpWqIbvFYNxzwYcM"
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    auth_input_map:
                      type: array
                      items:
                        type: object
                        properties:
                          label:
                            type: string
                            example: API Key
                          name:
                            type: string
                            example: api_token
                          placeholder:
                            type: string
                            example: Please enter the API key
                          required:
                            type: boolean
                            example: true
                          type:
                            type: string
                            example: text
                      example:
                        - label: API Key
                          name: api_token
                          placeholder: Please enter the API key
                          required: true
                          type: text
                        - label: Email Address
                          name: email
                          placeholder: Please enter the email of the token owner
                          required: true
                          type: text
                    auth_type:
                      type: string
                      example: oauth2
                    connected:
                      type: boolean
                      example: true
                    connected_accounts:
                      type: array
                      items:
                        type: object
                        properties:
                          connectedAt:
                            type: string
                            example: '2023-05-22T07:52:31.270Z'
                          identifier:
                            type: string
                            example: 1975dc48-d708-4370-b3c8-861af0df644d
                      example:
                        - connectedAt: '2023-05-22T07:52:31.270Z'
                          identifier: 1975dc48-d708-4370-b3c8-861af0df644d
                    description:
                      type: string
                      example: >-
                        Google Drive is Google's file sync app that lets you
                        store all of your files online alongside your Google
                        Docs documents, and keep them synced with all of your
                        devices.
                    icon:
                      type: string
                      example: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/google_drive/logo.png
                    name:
                      type: string
                      example: Drive
                    slug:
                      type: string
                      example: google_drive
                    tags:
                      type: array
                      items:
                        type: string
                        example: Office
                      example:
                        - Office
                    version:
                      type: object
                      properties:
                        _v:
                          type: string
                          example: 1.0.0
                        description:
                          type: string
                          example: >-
                            Google Drive is Google's file sync app that lets you
                            store all of your files online alongside your Google
                            Docs documents, and keep them synced with all of
                            your devices.
                example:
                  - auth_type: oauth2
                    description: >-
                      Google Drive is Google's file sync app that lets you store
                      all of your files online alongside your Google Docs
                      documents, and keep them synced with all of your devices.
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/google_drive/logo.png
                    name: Drive
                    slug: google_drive
                    tags:
                      - Office
                    version:
                      _v: 1.0.0
                      description: >-
                        Google Drive is Google's file sync app that lets you
                        store all of your files online alongside your Google
                        Docs documents, and keep them synced with all of your
                        devices.
                  - auth_type: oauth2
                    connected: true
                    connected_accounts:
                      - connectedAt: '2023-05-22T07:52:31.270Z'
                        identifier: 1975dc48-d708-4370-b3c8-861af0df644d
                    description: >-
                      Docusign is an electronic signature technology and digital
                      transaction management service for facilitating electronic
                      exchanges of signed documents.
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/docusign/logo.png
                    name: Docusign
                    slug: docusign
                    tags: []
                    version:
                      _v: 1.0.0
                      description: >-
                        Docusign is an electronic signature technology and
                        digital transaction management service for facilitating
                        electronic exchanges of signed documents.
                  - auth_type: oauth2
                    connected: true
                    connected_accounts:
                      - connectedAt: '2023-05-31T07:45:59.841Z'
                        identifier: Cobalt
                    description: >-
                      Slack is a platform for team communication: everything in
                      one place, instantly searchable, available wherever you
                      go. Offering instant messaging, document sharing and
                      knowledge search for modern teams.
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/slack/logo.png
                    name: Slack
                    slug: slack
                    tags:
                      - Communication
                    version:
                      _v: 1.0.0
                      description: >-
                        Slack is a platform for team communication: everything
                        in one place, instantly searchable, available wherever
                        you go. Offering instant messaging, document sharing and
                        knowledge search for modern teams.
                  - auth_type: oauth2
                    description: >-
                      With Lever.co, recruiters can create job postings and
                      share them on multiple job boards and social media
                      platforms. They can also track and manage candidate
                      applications, schedule interviews, and collaborate with
                      hiring teams using a centralized platform.
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/lever/logo.png
                    name: Lever
                    slug: lever
                    tags:
                      - ATS
                    version:
                      _v: 1.0.0
                      description: >-
                        With Lever.co, recruiters can create job postings and
                        share them on multiple job boards and social media
                        platforms. They can also track and manage candidate
                        applications, schedule interviews, and collaborate with
                        hiring teams using a centralized platform.
                  - auth_type: oauth2
                    connected: true
                    connected_accounts:
                      - connectedAt: '2023-05-04T07:54:22.489Z'
                        identifier: a7d00b2a03271207
                    description: >-
                      Pipedrive is sales pipeline and CRM software for deal
                      makers. Get super-organized. Close deals in less time.
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/pipedrive/logo.png
                    name: Pipedrive
                    slug: pipedrive
                    tags:
                      - CRM
                    version:
                      _v: 1.0.0
                      description: >-
                        Pipedrive is sales pipeline and CRM software for deal
                        makers. Get super-organized. Close deals in less time.
                  - auth_input_map:
                      - label: API Key
                        name: api_token
                        placeholder: Please enter the API key
                        required: true
                        type: text
                      - label: Email Address
                        name: email
                        placeholder: Please enter the email of the token owner
                        required: true
                        type: text
                    auth_type: keybased
                    description: >-
                      Copper is a customer relationship management (CRM)
                      platform focused on automation and simplicity. It is built
                      for businesses that use Google Workspace.
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/copper/logo.png
                    name: Copper
                    slug: copper
                    tags:
                      - CRM
                    version:
                      _v: 1.0.0
                      description: >-
                        Copper is a customer relationship management (CRM)
                        platform focused on automation and simplicity. It is
                        built for businesses that use Google Workspace.
                  - auth_input_map:
                      - label: API Key
                        multiple: false
                        name: api_key
                        placeholder: Please Enter API Key
                        required: true
                        type: text
                        variable: false
                    auth_type: keybased
                    description: ''
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/custom/logo.png
                    name: Aegis
                    slug: aegis
                    tags: []
                  - auth_type: oauth2
                    connected: true
                    connected_accounts:
                      - connectedAt: '2023-05-29T14:44:00.577Z'
                        identifier: subrat.dash@breakout.one
                    description: >-
                      One of the most popular email services, Gmail keeps track
                      of all your emails with threaded conversations, tags, and
                      Google-powered search to find any message you need.
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/gmail/logo.png
                    name: Gmail
                    slug: gmail
                    tags:
                      - Office
                    version:
                      _v: 1.0.0
                      description: >-
                        One of the most popular email services, Gmail keeps
                        track of all your emails with threaded conversations,
                        tags, and Google-powered search to find any message you
                        need.
                  - auth_type: oauth2
                    description: >-
                      Create, edit, and share spreadsheets wherever you are with
                      Google Sheets, and get automated insights from your data.
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/google_sheets/logo.png
                    name: Google Sheets
                    slug: google_sheets
                    tags:
                      - Office
                    version:
                      _v: 1.0.0
                      description: >-
                        Create, edit, and share spreadsheets wherever you are
                        with Google Sheets, and get automated insights from your
                        data.
              examples:
                Success:
                  value:
                    - auth_type: oauth2
                      description: >-
                        Google Drive is Google's file sync app that lets you
                        store all of your files online alongside your Google
                        Docs documents, and keep them synced with all of your
                        devices.
                      icon: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/google_drive/logo.png
                      name: Drive
                      slug: google_drive
                      tags:
                        - Office
                      version:
                        _v: 1.0.0
                        description: >-
                          Google Drive is Google's file sync app that lets you
                          store all of your files online alongside your Google
                          Docs documents, and keep them synced with all of your
                          devices.
                    - auth_type: oauth2
                      connected: true
                      connected_accounts:
                        - connectedAt: '2023-05-22T07:52:31.270Z'
                          identifier: 1975dc48-d708-4370-b3c8-861af0df644d
                      description: >-
                        Docusign is an electronic signature technology and
                        digital transaction management service for facilitating
                        electronic exchanges of signed documents.
                      icon: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/docusign/logo.png
                      name: Docusign
                      slug: docusign
                      tags: []
                      version:
                        _v: 1.0.0
                        description: >-
                          Docusign is an electronic signature technology and
                          digital transaction management service for
                          facilitating electronic exchanges of signed documents.
                    - auth_type: oauth2
                      connected: true
                      connected_accounts:
                        - connectedAt: '2023-05-31T07:45:59.841Z'
                          identifier: Cobalt
                      description: >-
                        Slack is a platform for team communication: everything
                        in one place, instantly searchable, available wherever
                        you go. Offering instant messaging, document sharing and
                        knowledge search for modern teams.
                      icon: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/slack/logo.png
                      name: Slack
                      slug: slack
                      tags:
                        - Communication
                      version:
                        _v: 1.0.0
                        description: >-
                          Slack is a platform for team communication: everything
                          in one place, instantly searchable, available wherever
                          you go. Offering instant messaging, document sharing
                          and knowledge search for modern teams.
                    - auth_type: oauth2
                      description: >-
                        With Lever.co, recruiters can create job postings and
                        share them on multiple job boards and social media
                        platforms. They can also track and manage candidate
                        applications, schedule interviews, and collaborate with
                        hiring teams using a centralized platform.
                      icon: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/lever/logo.png
                      name: Lever
                      slug: lever
                      tags:
                        - ATS
                      version:
                        _v: 1.0.0
                        description: >-
                          With Lever.co, recruiters can create job postings and
                          share them on multiple job boards and social media
                          platforms. They can also track and manage candidate
                          applications, schedule interviews, and collaborate
                          with hiring teams using a centralized platform.
                    - auth_type: oauth2
                      connected: true
                      connected_accounts:
                        - connectedAt: '2023-05-04T07:54:22.489Z'
                          identifier: a7d00b2a03271207
                      description: >-
                        Pipedrive is sales pipeline and CRM software for deal
                        makers. Get super-organized. Close deals in less time.
                      icon: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/pipedrive/logo.png
                      name: Pipedrive
                      slug: pipedrive
                      tags:
                        - CRM
                      version:
                        _v: 1.0.0
                        description: >-
                          Pipedrive is sales pipeline and CRM software for deal
                          makers. Get super-organized. Close deals in less time.
                    - auth_input_map:
                        - label: API Key
                          name: api_token
                          placeholder: Please enter the API key
                          required: true
                          type: text
                        - label: Email Address
                          name: email
                          placeholder: Please enter the email of the token owner
                          required: true
                          type: text
                      auth_type: keybased
                      description: >-
                        Copper is a customer relationship management (CRM)
                        platform focused on automation and simplicity. It is
                        built for businesses that use Google Workspace.
                      icon: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/copper/logo.png
                      name: Copper
                      slug: copper
                      tags:
                        - CRM
                      version:
                        _v: 1.0.0
                        description: >-
                          Copper is a customer relationship management (CRM)
                          platform focused on automation and simplicity. It is
                          built for businesses that use Google Workspace.
                    - auth_input_map:
                        - label: API Key
                          multiple: false
                          name: api_key
                          placeholder: Please Enter API Key
                          required: true
                          type: text
                          variable: false
                      auth_type: keybased
                      description: ''
                      icon: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/custom/logo.png
                      name: Aegis
                      slug: aegis
                      tags: []
                    - auth_type: oauth2
                      connected: true
                      connected_accounts:
                        - connectedAt: '2023-05-29T14:44:00.577Z'
                          identifier: subrat.dash@breakout.one
                      description: >-
                        One of the most popular email services, Gmail keeps
                        track of all your emails with threaded conversations,
                        tags, and Google-powered search to find any message you
                        need.
                      icon: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/gmail/logo.png
                      name: Gmail
                      slug: gmail
                      tags:
                        - Office
                      version:
                        _v: 1.0.0
                        description: >-
                          One of the most popular email services, Gmail keeps
                          track of all your emails with threaded conversations,
                          tags, and Google-powered search to find any message
                          you need.
                    - auth_type: oauth2
                      description: >-
                        Create, edit, and share spreadsheets wherever you are
                        with Google Sheets, and get automated insights from your
                        data.
                      icon: >-
                        https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/google_sheets/logo.png
                      name: Google Sheets
                      slug: google_sheets
                      tags:
                        - Office
                      version:
                        _v: 1.0.0
                        description: >-
                          Create, edit, and share spreadsheets wherever you are
                          with Google Sheets, and get automated insights from
                          your data.
        '404':
          description: Error
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '155'
            Date:
              schema:
                type: string
                example: Wed, 14 Jun 2023 11:18:15 GMT
            ETag:
              schema:
                type: string
                example: W/"9b-tw1fmbh1LaUV0uuTJL7qpXoCzTg"
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: NOT_FOUND
                  message:
                    type: string
                    example: Linked Account with account id 12345 not found
                  request_id:
                    type: string
                    example: 7b189cdc-6bc7-4d15-988d-3bc90c00be8c
                  status_code:
                    type: number
                    example: 404
              examples:
                Error:
                  value:
                    error_type: NOT_FOUND
                    message: Linked Account with account id 12345 not found
                    request_id: 7b189cdc-6bc7-4d15-988d-3bc90c00be8c
                    status_code: 404
  /api/v2/public/application/{slug}:
    get:
      tags:
        - Integration Meta
      summary: Get Application
      description: This API Returns Applications by "slug" for any Linked account.
      operationId: getApplication
      parameters:
        - name: linked_account_id
          in: header
          schema:
            type: string
            example: '{{LINKED_ACCOUNT_ID}}'
        - name: x-api-key
          in: header
          schema:
            type: string
            example: '{{API_KEY}}'
      responses:
        '200':
          description: Success
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '767'
            Date:
              schema:
                type: string
                example: Fri, 04 Aug 2023 06:13:45 GMT
            ETag:
              schema:
                type: string
                example: W/"2ff-s/pqxV/lTQUhbNGlDSktKGN2Yfo"
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  app_id:
                    type: string
                    example: 6463683189cc3cc0379e8e70
                  auth_type:
                    type: string
                    example: oauth2
                  connected:
                    type: boolean
                    example: true
                  connected_accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        connectedAt:
                          type: string
                          example: '2023-06-22T09:25:02.327Z'
                        identifier:
                          type: string
                          example: NA
                    example:
                      - connectedAt: '2023-06-22T09:25:02.327Z'
                        identifier: NA
                  description:
                    type: string
                    example: >-
                      Slack is a platform for team communication: everything in
                      one place, instantly searchable, available wherever you
                      go. Offering instant messaging, document sharing and
                      knowledge search for modern teams.
                  icon:
                    type: string
                    example: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/slack/logo.png
                  name:
                    type: string
                    example: Slack
                  slug:
                    type: string
                    example: slack
                  tags:
                    type: array
                    items:
                      type: string
                      example: Communication
                    example:
                      - Communication
                  type:
                    type: string
                    example: slack
                  version:
                    type: object
                    properties:
                      _v:
                        type: string
                        example: 1.0.0
                      description:
                        type: string
                        example: >-
                          Slack is a platform for team communication: everything
                          in one place, instantly searchable, available wherever
                          you go. Offering instant messaging, document sharing
                          and knowledge search for modern teams.
              examples:
                Success:
                  value:
                    app_id: 6463683189cc3cc0379e8e70
                    auth_type: oauth2
                    connected: true
                    connected_accounts:
                      - connectedAt: '2023-06-22T09:25:02.327Z'
                        identifier: NA
                    description: >-
                      Slack is a platform for team communication: everything in
                      one place, instantly searchable, available wherever you
                      go. Offering instant messaging, document sharing and
                      knowledge search for modern teams.
                    icon: >-
                      https://cobalt-app-logos.s3.ap-south-1.amazonaws.com/slack/logo.png
                    name: Slack
                    slug: slack
                    tags:
                      - Communication
                    type: slack
                    version:
                      _v: 1.0.0
                      description: >-
                        Slack is a platform for team communication: everything
                        in one place, instantly searchable, available wherever
                        you go. Offering instant messaging, document sharing and
                        knowledge search for modern teams.
        '401':
          description: Error
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '131'
            Date:
              schema:
                type: string
                example: Wed, 14 Jun 2023 11:31:17 GMT
            ETag:
              schema:
                type: string
                example: W/"83-hUAq/melZ3L8YCK3fjLsO7DcQqY"
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: UNAUTHORIZED
                  message:
                    type: string
                    example: Invalid Credentials
                  request_id:
                    type: string
                    example: fb5f19cb-ba68-4111-828f-77cc1ee2673d
                  status_code:
                    type: number
                    example: 401
              examples:
                Error:
                  value:
                    error_type: UNAUTHORIZED
                    message: Invalid Credentials
                    request_id: fb5f19cb-ba68-4111-828f-77cc1ee2673d
                    status_code: 401
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          example: slack
  /api/v2/public/executions:
    get:
      tags:
        - Integration Meta
      summary: Get total executions for a Linked Account
      description: >-
        This API provides total **executions** for all workflows for a linked
        account.


        Parameters:


        1. page (optional)

        2. limit (optional)
            

        This API takes API Key as **x-api-key** and **linked_account_id** as a
        header properties for authorization.
      operationId: getTotalExecutionsForALinkedAccount
      parameters:
        - name: limit
          in: query
          schema:
            type: string
            example: '10'
        - name: page
          in: query
          schema:
            type: string
            example: '1'
        - name: linked_account_id
          in: header
          schema:
            type: string
            example: '12345678'
        - name: x-api-key
          in: header
          schema:
            type: string
            example: '{{API_KEY}}'
      responses:
        '200':
          description: Get total runs for a Linked Account
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '1062'
            Date:
              schema:
                type: string
                example: Sun, 04 Jun 2023 20:51:47 GMT
            ETag:
              schema:
                type: string
                example: W/"426-ongMzfDjy4j74nW684ZBowUGFNE"
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  docs:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          example: 64704fd089595ac95861d5f0
                        createdAt:
                          type: string
                          example: '2023-05-26T06:21:04.012Z'
                        environment:
                          type: string
                          example: test
                        linked_account_id:
                          type: string
                          example: '12345678'
                        org_id:
                          type: string
                          example: 63c93da0b46b7243785a1e17
                        status:
                          type: string
                          example: COMPLETED
                    example:
                      - _id: 64704fd089595ac95861d5f0
                        createdAt: '2023-05-26T06:21:04.012Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                      - _id: 646dbdce4b6880e84c233d1c
                        createdAt: '2023-05-24T07:33:34.322Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                      - _id: 646dbdcd4b6880e84c233cdd
                        createdAt: '2023-05-24T07:33:33.989Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                      - _id: 646dbdcd4b6880e84c233cbd
                        createdAt: '2023-05-24T07:33:33.801Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                      - _id: 646dbdc94b6880e84c233a2f
                        createdAt: '2023-05-24T07:33:29.878Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                  hasNextPage:
                    type: boolean
                    example: true
                  hasPrevPage:
                    type: boolean
                    example: false
                  limit:
                    type: number
                    example: 5
                  nextPage:
                    type: number
                    example: 2
                  page:
                    type: number
                    example: 1
                  pagingCounter:
                    type: number
                    example: 1
                  prevPage:
                    nullable: true
                    example: null
                  totalDocs:
                    type: number
                    example: 358
                  totalPages:
                    type: number
                    example: 72
              examples:
                Get total runs for a Linked Account:
                  value:
                    docs:
                      - _id: 64704fd089595ac95861d5f0
                        createdAt: '2023-05-26T06:21:04.012Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                      - _id: 646dbdce4b6880e84c233d1c
                        createdAt: '2023-05-24T07:33:34.322Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                      - _id: 646dbdcd4b6880e84c233cdd
                        createdAt: '2023-05-24T07:33:33.989Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                      - _id: 646dbdcd4b6880e84c233cbd
                        createdAt: '2023-05-24T07:33:33.801Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                      - _id: 646dbdc94b6880e84c233a2f
                        createdAt: '2023-05-24T07:33:29.878Z'
                        environment: test
                        linked_account_id: '12345678'
                        org_id: 63c93da0b46b7243785a1e17
                        status: COMPLETED
                    hasNextPage: true
                    hasPrevPage: false
                    limit: 5
                    nextPage: 2
                    page: 1
                    pagingCounter: 1
                    prevPage: null
                    totalDocs: 358
                    totalPages: 72
  /api/v2/public/config:
    put:
      tags:
        - Config
      summary: Update Config
      description: >-
        This API update the specified config. It requires **x-api-key** and
        **linked_account_id** as headers parameters.


        Body:


        **slug:** String(Mandatory) - Application Slug


        **config_id**: String(Optional) - Unique Id for config


        **fields:** Record\[String, String|Record\[String, String\]\](Optional)
        - A map of application data slots and their values.


        **workflows:** Record\[\] (Mandatory) - Whether the workflow is enabled.


        \*Workflow Object :


        - id: String(Mandatory) - Workflow Id

        - enabled: Boolean(Mandatory) - Whether the workflow is enabled.

        - fields: Record\[String, String|Record\[String, String\]\] (Optional) -
        A map of workflow's data slots and their values.
      operationId: updateConfig
      parameters:
        - name: linked_account_id
          in: header
          schema:
            type: string
            example: '{{Linked_Account_ID}}'
        - name: x-api-key
          in: header
          schema:
            type: string
            example: '{{API_KEY}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config_id:
                  type: string
                  example: '12345678'
                fields:
                  type: object
                  properties:
                    64774bf0a71ebc16a6d57386:
                      type: string
                      example: Subrat
                slug:
                  type: string
                  example: slack
                workflows:
                  type: array
                  items:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        example: true
                      fields:
                        type: object
                        properties:
                          646750c7eb489f4644852e18:
                            type: string
                            example: C05450XC4LF
                      id:
                        type: string
                        example: 646750aeeb489f4644852d5e
                  example:
                    - enabled: true
                      fields:
                        646750c7eb489f4644852e18: C05450XC4LF
                      id: 646750aeeb489f4644852d5e
            example:
              config_id: '12345678'
              fields:
                64774bf0a71ebc16a6d57386: Subrat
              slug: slack
              workflows:
                - enabled: true
                  fields:
                    646750c7eb489f4644852e18: C05450XC4LF
                  id: 646750aeeb489f4644852d5e
      responses:
        '200':
          description: Success - Hubspot (With Dynamic and static fields)
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '65390'
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Mon, 10 Jul 2023 13:28:00 GMT
            ETag:
              schema:
                type: string
                example: W/"ff6e-5pDc1SUeNn1mJkT45pcIJtyPlUc"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Server:
              schema:
                type: string
                example: nginx/1.18.0 (Ubuntu)
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  config_id:
                    type: string
                    example: QAT123
                  fields:
                    type: array
                    items:
                      type: object
                      properties:
                        field_type:
                          type: string
                          example: map
                        id:
                          type: string
                          example: 649ade09c7b80fc6f0a3d1bc
                        labels:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: Amount
                              value:
                                type: string
                                example: amount
                          example:
                            - name: Amount
                              value: amount
                            - name: Email
                              value: email
                        name:
                          type: string
                          example: list deal properties
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: Amount in company currency
                              value:
                                type: string
                                example: amount_in_home_currency
                          example:
                            - name: Amount in company currency
                              value: amount_in_home_currency
                            - name: Days to close
                              value: days_to_close
                            - name: Currency
                              value: deal_currency_code
                            - name: Annual contract value
                              value: hs_acv
                            - name: Business units
                              value: hs_all_assigned_business_unit_ids
                            - name: Deal Collaborator
                              value: hs_all_collaborator_owner_ids
                            - name: Deal Split Users
                              value: hs_all_deal_split_owner_ids
                            - name: Latest Source
                              value: hs_analytics_latest_source
                            - name: Latest Source Company
                              value: hs_analytics_latest_source_company
                            - name: Latest Source Contact
                              value: hs_analytics_latest_source_contact
                            - name: Latest Source Data 1
                              value: hs_analytics_latest_source_data_1
                            - name: Latest Source Data 1 Company
                              value: hs_analytics_latest_source_data_1_company
                            - name: Latest Source Data 1 Contact
                              value: hs_analytics_latest_source_data_1_contact
                            - name: Latest Source Data 2
                              value: hs_analytics_latest_source_data_2
                            - name: Latest Source Data 2 Company
                              value: hs_analytics_latest_source_data_2_company
                            - name: Latest Source Data 2 Contact
                              value: hs_analytics_latest_source_data_2_contact
                            - name: Latest Source Timestamp
                              value: hs_analytics_latest_source_timestamp
                            - name: Latest Source Timestamp Company
                              value: hs_analytics_latest_source_timestamp_company
                            - name: Latest Source Timestamp Contact
                              value: hs_analytics_latest_source_timestamp_contact
                            - name: Original Source Type
                              value: hs_analytics_source
                            - name: Original Source Data 1
                              value: hs_analytics_source_data_1
                            - name: Original Source Data 2
                              value: hs_analytics_source_data_2
                            - name: Annual recurring revenue
                              value: hs_arr
                            - name: HubSpot Campaign
                              value: hs_campaign
                            - name: Closed Deal Amount
                              value: hs_closed_amount
                            - name: Closed Deal Amount In Home Currency
                              value: hs_closed_amount_in_home_currency
                            - name: Closed won count
                              value: hs_closed_won_count
                            - name: Closed Won Date (Internal)
                              value: hs_closed_won_date
                            - name: Created by user ID
                              value: hs_created_by_user_id
                            - name: >-
                                Date entered 'Appointment Scheduled (Sales
                                Pipeline)'
                              value: hs_date_entered_appointmentscheduled
                            - name: Date entered 'Closed Lost (Sales Pipeline)'
                              value: hs_date_entered_closedlost
                            - name: Date entered 'Closed Won (Sales Pipeline)'
                              value: hs_date_entered_closedwon
                            - name: Date entered 'Contract Sent (Sales Pipeline)'
                              value: hs_date_entered_contractsent
                            - name: >-
                                Date entered 'Decision Maker Bought-In (Sales
                                Pipeline)'
                              value: hs_date_entered_decisionmakerboughtin
                            - name: >-
                                Date entered 'Presentation Scheduled (Sales
                                Pipeline)'
                              value: hs_date_entered_presentationscheduled
                            - name: Date entered 'Qualified To Buy (Sales Pipeline)'
                              value: hs_date_entered_qualifiedtobuy
                            - name: >-
                                Date exited 'Appointment Scheduled (Sales
                                Pipeline)'
                              value: hs_date_exited_appointmentscheduled
                            - name: Date exited 'Closed Lost (Sales Pipeline)'
                              value: hs_date_exited_closedlost
                            - name: Date exited 'Closed Won (Sales Pipeline)'
                              value: hs_date_exited_closedwon
                            - name: Date exited 'Contract Sent (Sales Pipeline)'
                              value: hs_date_exited_contractsent
                            - name: >-
                                Date exited 'Decision Maker Bought-In (Sales
                                Pipeline)'
                              value: hs_date_exited_decisionmakerboughtin
                            - name: >-
                                Date exited 'Presentation Scheduled (Sales
                                Pipeline)'
                              value: hs_date_exited_presentationscheduled
                            - name: Date exited 'Qualified To Buy (Sales Pipeline)'
                              value: hs_date_exited_qualifiedtobuy
                            - name: Deal amount calculation preference
                              value: hs_deal_amount_calculation_preference
                            - name: Deal probability
                              value: hs_deal_stage_probability
                            - name: Deal stage probability shadow
                              value: hs_deal_stage_probability_shadow
                            - name: Exchange rate
                              value: hs_exchange_rate
                            - name: Forecast amount
                              value: hs_forecast_amount
                            - name: Forecast probability
                              value: hs_forecast_probability
                            - name: Is Deal Closed?
                              value: hs_is_closed
                            - name: Is Closed Won
                              value: hs_is_closed_won
                            - name: Deal Split Added
                              value: hs_is_deal_split
                            - name: Last Modified Date
                              value: hs_lastmodifieddate
                            - name: Likelihood to close by the close date
                              value: hs_likelihood_to_close
                            - name: Global Term Line Item Discount Percentage
                              value: hs_line_item_global_term_hs_discount_percentage
                            - name: >-
                                Global Term Line Item Discount Percentage
                                Enabled
                              value: >-
                                hs_line_item_global_term_hs_discount_percentage_enabled
                            - name: Global Term Line Item Recurring Billing Period
                              value: >-
                                hs_line_item_global_term_hs_recurring_billing_period
                            - name: >-
                                Global Term Line Item Recurring Billing Period
                                Enabled
                              value: >-
                                hs_line_item_global_term_hs_recurring_billing_period_enabled
                            - name: >-
                                Global Term Line Item Recurring Billing Start
                                Date
                              value: >-
                                hs_line_item_global_term_hs_recurring_billing_start_date
                            - name: >-
                                Global Term Line Item Recurring Billing Start
                                Date Enabled
                              value: >-
                                hs_line_item_global_term_hs_recurring_billing_start_date_enabled
                            - name: >-
                                Global Term Line Item Recurring Billing
                                Frequency
                              value: >-
                                hs_line_item_global_term_recurringbillingfrequency
                            - name: >-
                                Global Term Line Item Recurring Billing
                                Frequency Enabled
                              value: >-
                                hs_line_item_global_term_recurringbillingfrequency_enabled
                            - name: Forecast category
                              value: hs_manual_forecast_category
                            - name: Merged Deal IDs
                              value: hs_merged_object_ids
                            - name: Monthly recurring revenue
                              value: hs_mrr
                            - name: Next step
                              value: hs_next_step
                            - name: Number of Active Deal Registrations
                              value: hs_num_associated_active_deal_registrations
                            - name: Number of Deal Registrations
                              value: hs_num_associated_deal_registrations
                            - name: Number of Deal Splits
                              value: hs_num_associated_deal_splits
                            - name: Number of Associated Line Items
                              value: hs_num_of_associated_line_items
                            - name: Number of target accounts
                              value: hs_num_target_accounts
                            - name: Record ID
                              value: hs_object_id
                            - name: Pinned Engagement ID
                              value: hs_pinned_engagement_id
                            - name: The predicted deal amount
                              value: hs_predicted_amount
                            - name: >-
                                The predicted deal amount in your company's
                                currency
                              value: hs_predicted_amount_in_home_currency
                            - name: Priority
                              value: hs_priority
                            - name: Weighted amount
                              value: hs_projected_amount
                            - name: Weighted amount in company currency
                              value: hs_projected_amount_in_home_currency
                            - name: Read Only Object
                              value: hs_read_only
                            - name: Source Object ID
                              value: hs_source_object_id
                            - name: Deal Tags
                              value: hs_tag_ids
                            - name: Total contract value
                              value: hs_tcv
                            - name: Time in 'Appointment Scheduled (Sales Pipeline)'
                              value: hs_time_in_appointmentscheduled
                            - name: Time in 'Closed Lost (Sales Pipeline)'
                              value: hs_time_in_closedlost
                            - name: Time in 'Closed Won (Sales Pipeline)'
                              value: hs_time_in_closedwon
                            - name: Time in 'Contract Sent (Sales Pipeline)'
                              value: hs_time_in_contractsent
                            - name: >-
                                Time in 'Decision Maker Bought-In (Sales
                                Pipeline)'
                              value: hs_time_in_decisionmakerboughtin
                            - name: >-
                                Time in 'Presentation Scheduled (Sales
                                Pipeline)'
                              value: hs_time_in_presentationscheduled
                            - name: Time in 'Qualified To Buy (Sales Pipeline)'
                              value: hs_time_in_qualifiedtobuy
                            - name: Unique creation key
                              value: hs_unique_creation_key
                            - name: Updated by user ID
                              value: hs_updated_by_user_id
                            - name: User IDs of all notification followers
                              value: hs_user_ids_of_all_notification_followers
                            - name: User IDs of all notification unfollowers
                              value: hs_user_ids_of_all_notification_unfollowers
                            - name: User IDs of all owners
                              value: hs_user_ids_of_all_owners
                            - name: Performed in an import
                              value: hs_was_imported
                            - name: Owner Assigned Date
                              value: hubspot_owner_assigneddate
                            - name: Deal Name
                              value: dealname
                            - name: Amount
                              value: amount
                            - name: Deal Stage
                              value: dealstage
                            - name: Pipeline
                              value: pipeline
                            - name: Close Date
                              value: closedate
                            - name: Create Date
                              value: createdate
                            - name: Date of last meeting booked in meetings tool
                              value: engagements_last_meeting_booked
                            - name: Campaign of last booking in meetings tool
                              value: engagements_last_meeting_booked_campaign
                            - name: Medium of last booking in meetings tool
                              value: engagements_last_meeting_booked_medium
                            - name: Source of last booking in meetings tool
                              value: engagements_last_meeting_booked_source
                            - name: Latest meeting activity
                              value: hs_latest_meeting_activity
                            - name: Recent Sales Email Replied Date
                              value: hs_sales_email_last_replied
                            - name: Deal owner
                              value: hubspot_owner_id
                            - name: Last Contacted
                              value: notes_last_contacted
                            - name: Last Activity Date
                              value: notes_last_updated
                            - name: Next Activity Date
                              value: notes_next_activity_date
                            - name: Number of times contacted
                              value: num_contacted_notes
                            - name: Number of Sales Activities
                              value: num_notes
                            - name: HubSpot Create Date
                              value: hs_createdate
                            - name: HubSpot Team
                              value: hubspot_team_id
                            - name: Deal Type
                              value: dealtype
                            - name: All owner ids
                              value: hs_all_owner_ids
                            - name: Deal Description
                              value: description
                            - name: All team ids
                              value: hs_all_team_ids
                            - name: All accessible team ids
                              value: hs_all_accessible_team_ids
                            - name: Number of Associated Contacts
                              value: num_associated_contacts
                            - name: Closed Lost Reason
                              value: closed_lost_reason
                            - name: Closed Won Reason
                              value: closed_won_reason
                        parent:
                          type: string
                          example: 649ade4fc7b80fc6f0a3d218
                        required:
                          type: boolean
                          example: false
                        value:
                          anyOf:
                            - type: object
                              properties:
                                amount:
                                  type: string
                                  example: amount_in_home_currency
                                close_span:
                                  type: string
                                  example: days_to_close
                            - type: string
                              example: default
                            - type: string
                              example: qualifiedtobuy
                    example:
                      - field_type: map
                        id: 649ade09c7b80fc6f0a3d1bc
                        labels:
                          - name: Amount
                            value: amount
                          - name: Email
                            value: email
                        name: list deal properties
                        options:
                          - name: Amount in company currency
                            value: amount_in_home_currency
                          - name: Days to close
                            value: days_to_close
                          - name: Currency
                            value: deal_currency_code
                          - name: Annual contract value
                            value: hs_acv
                          - name: Business units
                            value: hs_all_assigned_business_unit_ids
                          - name: Deal Collaborator
                            value: hs_all_collaborator_owner_ids
                          - name: Deal Split Users
                            value: hs_all_deal_split_owner_ids
                          - name: Latest Source
                            value: hs_analytics_latest_source
                          - name: Latest Source Company
                            value: hs_analytics_latest_source_company
                          - name: Latest Source Contact
                            value: hs_analytics_latest_source_contact
                          - name: Latest Source Data 1
                            value: hs_analytics_latest_source_data_1
                          - name: Latest Source Data 1 Company
                            value: hs_analytics_latest_source_data_1_company
                          - name: Latest Source Data 1 Contact
                            value: hs_analytics_latest_source_data_1_contact
                          - name: Latest Source Data 2
                            value: hs_analytics_latest_source_data_2
                          - name: Latest Source Data 2 Company
                            value: hs_analytics_latest_source_data_2_company
                          - name: Latest Source Data 2 Contact
                            value: hs_analytics_latest_source_data_2_contact
                          - name: Latest Source Timestamp
                            value: hs_analytics_latest_source_timestamp
                          - name: Latest Source Timestamp Company
                            value: hs_analytics_latest_source_timestamp_company
                          - name: Latest Source Timestamp Contact
                            value: hs_analytics_latest_source_timestamp_contact
                          - name: Original Source Type
                            value: hs_analytics_source
                          - name: Original Source Data 1
                            value: hs_analytics_source_data_1
                          - name: Original Source Data 2
                            value: hs_analytics_source_data_2
                          - name: Annual recurring revenue
                            value: hs_arr
                          - name: HubSpot Campaign
                            value: hs_campaign
                          - name: Closed Deal Amount
                            value: hs_closed_amount
                          - name: Closed Deal Amount In Home Currency
                            value: hs_closed_amount_in_home_currency
                          - name: Closed won count
                            value: hs_closed_won_count
                          - name: Closed Won Date (Internal)
                            value: hs_closed_won_date
                          - name: Created by user ID
                            value: hs_created_by_user_id
                          - name: >-
                              Date entered 'Appointment Scheduled (Sales
                              Pipeline)'
                            value: hs_date_entered_appointmentscheduled
                          - name: Date entered 'Closed Lost (Sales Pipeline)'
                            value: hs_date_entered_closedlost
                          - name: Date entered 'Closed Won (Sales Pipeline)'
                            value: hs_date_entered_closedwon
                          - name: Date entered 'Contract Sent (Sales Pipeline)'
                            value: hs_date_entered_contractsent
                          - name: >-
                              Date entered 'Decision Maker Bought-In (Sales
                              Pipeline)'
                            value: hs_date_entered_decisionmakerboughtin
                          - name: >-
                              Date entered 'Presentation Scheduled (Sales
                              Pipeline)'
                            value: hs_date_entered_presentationscheduled
                          - name: Date entered 'Qualified To Buy (Sales Pipeline)'
                            value: hs_date_entered_qualifiedtobuy
                          - name: >-
                              Date exited 'Appointment Scheduled (Sales
                              Pipeline)'
                            value: hs_date_exited_appointmentscheduled
                          - name: Date exited 'Closed Lost (Sales Pipeline)'
                            value: hs_date_exited_closedlost
                          - name: Date exited 'Closed Won (Sales Pipeline)'
                            value: hs_date_exited_closedwon
                          - name: Date exited 'Contract Sent (Sales Pipeline)'
                            value: hs_date_exited_contractsent
                          - name: >-
                              Date exited 'Decision Maker Bought-In (Sales
                              Pipeline)'
                            value: hs_date_exited_decisionmakerboughtin
                          - name: >-
                              Date exited 'Presentation Scheduled (Sales
                              Pipeline)'
                            value: hs_date_exited_presentationscheduled
                          - name: Date exited 'Qualified To Buy (Sales Pipeline)'
                            value: hs_date_exited_qualifiedtobuy
                          - name: Deal amount calculation preference
                            value: hs_deal_amount_calculation_preference
                          - name: Deal probability
                            value: hs_deal_stage_probability
                          - name: Deal stage probability shadow
                            value: hs_deal_stage_probability_shadow
                          - name: Exchange rate
                            value: hs_exchange_rate
                          - name: Forecast amount
                            value: hs_forecast_amount
                          - name: Forecast probability
                            value: hs_forecast_probability
                          - name: Is Deal Closed?
                            value: hs_is_closed
                          - name: Is Closed Won
                            value: hs_is_closed_won
                          - name: Deal Split Added
                            value: hs_is_deal_split
                          - name: Last Modified Date
                            value: hs_lastmodifieddate
                          - name: Likelihood to close by the close date
                            value: hs_likelihood_to_close
                          - name: Global Term Line Item Discount Percentage
                            value: hs_line_item_global_term_hs_discount_percentage
                          - name: Global Term Line Item Discount Percentage Enabled
                            value: >-
                              hs_line_item_global_term_hs_discount_percentage_enabled
                          - name: Global Term Line Item Recurring Billing Period
                            value: >-
                              hs_line_item_global_term_hs_recurring_billing_period
                          - name: >-
                              Global Term Line Item Recurring Billing Period
                              Enabled
                            value: >-
                              hs_line_item_global_term_hs_recurring_billing_period_enabled
                          - name: Global Term Line Item Recurring Billing Start Date
                            value: >-
                              hs_line_item_global_term_hs_recurring_billing_start_date
                          - name: >-
                              Global Term Line Item Recurring Billing Start Date
                              Enabled
                            value: >-
                              hs_line_item_global_term_hs_recurring_billing_start_date_enabled
                          - name: Global Term Line Item Recurring Billing Frequency
                            value: hs_line_item_global_term_recurringbillingfrequency
                          - name: >-
                              Global Term Line Item Recurring Billing Frequency
                              Enabled
                            value: >-
                              hs_line_item_global_term_recurringbillingfrequency_enabled
                          - name: Forecast category
                            value: hs_manual_forecast_category
                          - name: Merged Deal IDs
                            value: hs_merged_object_ids
                          - name: Monthly recurring revenue
                            value: hs_mrr
                          - name: Next step
                            value: hs_next_step
                          - name: Number of Active Deal Registrations
                            value: hs_num_associated_active_deal_registrations
                          - name: Number of Deal Registrations
                            value: hs_num_associated_deal_registrations
                          - name: Number of Deal Splits
                            value: hs_num_associated_deal_splits
                          - name: Number of Associated Line Items
                            value: hs_num_of_associated_line_items
                          - name: Number of target accounts
                            value: hs_num_target_accounts
                          - name: Record ID
                            value: hs_object_id
                          - name: Pinned Engagement ID
                            value: hs_pinned_engagement_id
                          - name: The predicted deal amount
                            value: hs_predicted_amount
                          - name: >-
                              The predicted deal amount in your company's
                              currency
                            value: hs_predicted_amount_in_home_currency
                          - name: Priority
                            value: hs_priority
                          - name: Weighted amount
                            value: hs_projected_amount
                          - name: Weighted amount in company currency
                            value: hs_projected_amount_in_home_currency
                          - name: Read Only Object
                            value: hs_read_only
                          - name: Source Object ID
                            value: hs_source_object_id
                          - name: Deal Tags
                            value: hs_tag_ids
                          - name: Total contract value
                            value: hs_tcv
                          - name: Time in 'Appointment Scheduled (Sales Pipeline)'
                            value: hs_time_in_appointmentscheduled
                          - name: Time in 'Closed Lost (Sales Pipeline)'
                            value: hs_time_in_closedlost
                          - name: Time in 'Closed Won (Sales Pipeline)'
                            value: hs_time_in_closedwon
                          - name: Time in 'Contract Sent (Sales Pipeline)'
                            value: hs_time_in_contractsent
                          - name: >-
                              Time in 'Decision Maker Bought-In (Sales
                              Pipeline)'
                            value: hs_time_in_decisionmakerboughtin
                          - name: Time in 'Presentation Scheduled (Sales Pipeline)'
                            value: hs_time_in_presentationscheduled
                          - name: Time in 'Qualified To Buy (Sales Pipeline)'
                            value: hs_time_in_qualifiedtobuy
                          - name: Unique creation key
                            value: hs_unique_creation_key
                          - name: Updated by user ID
                            value: hs_updated_by_user_id
                          - name: User IDs of all notification followers
                            value: hs_user_ids_of_all_notification_followers
                          - name: User IDs of all notification unfollowers
                            value: hs_user_ids_of_all_notification_unfollowers
                          - name: User IDs of all owners
                            value: hs_user_ids_of_all_owners
                          - name: Performed in an import
                            value: hs_was_imported
                          - name: Owner Assigned Date
                            value: hubspot_owner_assigneddate
                          - name: Deal Name
                            value: dealname
                          - name: Amount
                            value: amount
                          - name: Deal Stage
                            value: dealstage
                          - name: Pipeline
                            value: pipeline
                          - name: Close Date
                            value: closedate
                          - name: Create Date
                            value: createdate
                          - name: Date of last meeting booked in meetings tool
                            value: engagements_last_meeting_booked
                          - name: Campaign of last booking in meetings tool
                            value: engagements_last_meeting_booked_campaign
                          - name: Medium of last booking in meetings tool
                            value: engagements_last_meeting_booked_medium
                          - name: Source of last booking in meetings tool
                            value: engagements_last_meeting_booked_source
                          - name: Latest meeting activity
                            value: hs_latest_meeting_activity
                          - name: Recent Sales Email Replied Date
                            value: hs_sales_email_last_replied
                          - name: Deal owner
                            value: hubspot_owner_id
                          - name: Last Contacted
                            value: notes_last_contacted
                          - name: Last Activity Date
                            value: notes_last_updated
                          - name: Next Activity Date
                            value: notes_next_activity_date
                          - name: Number of times contacted
                            value: num_contacted_notes
                          - name: Number of Sales Activities
                            value: num_notes
                          - name: HubSpot Create Date
                            value: hs_createdate
                          - name: HubSpot Team
                            value: hubspot_team_id
                          - name: Deal Type
                            value: dealtype
                          - name: All owner ids
                            value: hs_all_owner_ids
                          - name: Deal Description
                            value: description
                          - name: All team ids
                            value: hs_all_team_ids
                          - name: All accessible team ids
                            value: hs_all_accessible_team_ids
                          - name: Number of Associated Contacts
                            value: num_associated_contacts
                          - name: Closed Lost Reason
                            value: closed_lost_reason
                          - name: Closed Won Reason
                            value: closed_won_reason
                        required: false
                        value:
                          amount: amount_in_home_currency
                          close_span: days_to_close
                      - field_type: select
                        id: 649ade4fc7b80fc6f0a3d218
                        labels: []
                        name: list deal pipeline
                        options:
                          - name: Sales Pipeline
                            value: default
                        required: false
                        value: default
                      - field_type: select
                        id: 649ade63c7b80fc6f0a3d24c
                        labels: []
                        name: list pipeline stages
                        options:
                          - name: Appointment Scheduled
                            value: appointmentscheduled
                          - name: Qualified To Buy
                            value: qualifiedtobuy
                          - name: Presentation Scheduled
                            value: presentationscheduled
                          - name: Decision Maker Bought-In
                            value: decisionmakerboughtin
                          - name: Contract Sent
                            value: contractsent
                          - name: Closed Won
                            value: closedwon
                          - name: Closed Lost
                            value: closedlost
                        parent: 649ade4fc7b80fc6f0a3d218
                        required: false
                        value: qualifiedtobuy
                  slug:
                    type: string
                    example: hubspot
                  workflows:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                          example: ''
                        enabled:
                          type: boolean
                          example: true
                        fields:
                          type: array
                          items:
                            type: object
                            properties:
                              field_type:
                                type: string
                                example: map
                              id:
                                type: string
                                example: 64abcfec941ba774d124376a
                              labels:
                                type: array
                                items:
                                  type: object
                                  properties:
[...]
